* {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfeff;
  background: #fcfeff;
  /* width: 100vw;
  height: 100vh; */
}

.container {
  background: #5c7b7c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

@media (min-width: 800px) {
  .container {
    width: 75vw;
  }
}

#timer {
  font-size: 3rem;
}
#title {
  font-size: 2rem;
}

@media (min-width: 600px) {
  #title {
    font-size: 3rem;
  }
  #timer {
    font-size: 2rem;
  }
}

#text {
  color: #5c7b7c;
  display: flex;
  font-size: 1.5rem;
  background: #fcfeff;
  width: 99%;
  height: 150px;
  word-wrap: break-word;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 900px) {
  #text {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  #text {
    font-size: 2.5rem;
  }
}

h3 {
  margin: 0;
}

#button {
  background: #37c0c7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  color: white;
}

#button:hover {
  background: #bff9fc;
  border: 1px solid #fcfeff;
}

#button:active {
  background: #71e7fc;
}

@media only screen and (min-device-width: 400px) and (max-device-width: 1000px) {
  .no-touch #button:hover {
    background: #bff9fc;
    border: 1px solid #fcfeff;
  }
}
